{%  extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h2>{{ contact.name }}</h2>
      <h6><a href="{% url 'journal:contact_update' contact.uuid %}" class="page-link"><i class="far fa-edit"></i> Edit</a></h6>
      <p>
        <b>Created:</b> {{ contact.created|date:"SHORT_DATETIME_FORMAT" }}
      {% if contact.modified %}
        <b>Updated:</b> {{ contact.updated|date:"SHORT_DATETIME_FORMAT" }}
      {% endif %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>Forms of releasing:</h4>
      <table>
        <tbody>
          <tr>
            <td>
              {% if contact.email %}<i class="fas fa-check"></i>{% endif %}
            </td>
            <td>
              Email
            </td>
          </tr>
          <tr>
            <td>
              {% if contact.phone %}<i class="fas fa-check"></i>{% endif %}
            </td>
            <td>
              Phone
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
