{%  extends 'base.html' %}

{% block title %}Contact List{% endblock %}

{% block content %}
  {% for contact in contact_list %}
    {% if forloop.first %}
    <table class="table table-grey mt-2">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Phone</th>
          <th scope="col" class="text-center">Delete</th>
        </tr>
      </thead>
      {% endif %}
      <tbody>
      <tr>
        <th class="align-middle"><a href="{{ contact.get_absolute_url }}" class="table-link">{{ contact.name }}</a></th>
        <td class="text-center align-middle">
          {% if contact.email %}
            <i class="fas fa-check"></i>
          {% endif %}
        </td>
        <td class="text-center align-middle">
          {% if contact.phone %}
            <i class="fas fa-check"></i>
          {% endif %}
        </td>
        <td class="text-center align-middle">
          <button type="submit" value="1" class="btn btn-danger" onclick="return ContactDeleteConfirmAction('Are you sure you want to remove {{ contact.name }}?', '{{ contact.pk }}')"><i class="far fa-trash-alt"> Delete</i></button>
        </td>
      </tr>

    {% if forloop.last %}
      </tbody>
      </table>
    {% endif %}
    {% empty %}
    <h2>There are no Contacts yet. <a href="{% url 'journal:contact_create' %}" class="btn btn-theme btn-lg btn-block"><i class="fas fa-plus"></i> Add a contact here!</a></h2>
  {% endfor %}

{% endblock %}
