{%  extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block title %}{{ entry.title }}{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h2>{{ entry.title }}</h2>
    </div>
  </div>
    {% if not released %}
      <div class="row">
        <div class="col-lg-6">
          <h6 class="text-center"><a href="{% url 'journal:entry_update' entry.uuid %}" class="btn btn-theme btn-block"><i class="far fa-edit"></i> Edit</a></h6>
        </div>
        <div class="col-lg-6">
          <h6 class="text-center"><a href="{% url 'journal:entry_delete' entry.uuid %}" class="btn btn-theme btn-block"><i class="far fa-trash-alt"></i> Delete</a></h6>
        </div>
      </div>
    {% endif %}
  <div class="row">
    <div class="col-lg-12">
      <p>
        <b>Created:</b> {{ entry.created|date:"SHORT_DATETIME_FORMAT" }}
        {% if entry.modified %}
          <b>Updated:</b> {{ entry.updated|date:"SHORT_DATETIME_FORMAT" }}
        {% endif %}
      </p>
{#      <form method="post" action=".">#}
{#        {% csrf_token %}#}
{#        {{ form.contact|as_crispy_field }}#}
{#        <button type="submit" class="btn btn-primary">Save</button>#}
{#        <table style="display: none">#}
{#          {{ view.formset.empty_form }}#}
{#        </table>#}
{#        <table>#}
{#          {{ view.formset }}#}
{#        </table>#}
{#      </form>#}
      {% if entry.contact.all and not released%}
        <p><b>Sharing:</b>
          {% for contact in entry.contact.all %}
            <a href="{{ contact.get_absolute_url }}" class="btn btn-primary">{{ contact.name }}</a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{ entry.body|safe }}
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
{% endblock %}
