{%  extends 'base.html' %}

{% block title %}{{ entry.title }}{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h2>{{ entry.title }}</h2>
      <p>
        <b>Created:</b> {{ entry.created|date:"SHORT_DATETIME_FORMAT" }}
        {% if entry.modified %}
          <b>Updated:</b> {{ entry.updated|date:"SHORT_DATETIME_FORMAT" }}
        {% endif %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <p>{{ entry.body|safe }}</p>
      <p>{{ entry.body }}</p>
    </div>
  </div>
{% endblock %}
