{%  extends 'base.html' %}
{% load crispy_forms_tags static humanize %}

{% block title %}{{ entry.title }}{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <h2>{{ entry.title }}</h2>
    </div>
  </div>
    {% if not released %}
      <div class="row">
        <div class="col-lg-12">
            <h5>
              {% if entry.is_scheduled %}
                <a href="{% url 'journal:entry_schedule' entry.uuid %}" class="entry-link"><i class="fas fa-check"></i> Scheduled</a>
              {% else %}
                <a href="{% url 'journal:entry_schedule' entry.uuid %}" class="entry-link"><i class="far fa-clock"></i> Schedule</a>
              {% endif %}
              <a href="{% url 'journal:entry_update' entry.uuid %}" class="entry-link"><i class="far fa-edit"></i> Edit</a>
              <button type="submit" value="1" class="btn btn-theme" onclick="return EntryDeleteConfirmAction('Are you sure you want to remove this entry?', '{{ entry.pk }}')"><i class="far fa-trash-alt"> Delete</i></button>
            </h5>
        </div>
      </div>
    {% endif %}
  <div class="row">
    <div class="col-lg-12">
      <p>
        <b>Created:</b> {{ entry.created|naturaltime }}
        {% if entry.modified %}
          <b>Updated:</b> {{ entry.updated|naturaltime }}
        {% endif %}
      </p>
      {% if entry.contact.all and not released %}
        <p><b>Sharing:</b>
          {% if entry.public %}
            <i class="fas fa-users small yellow"></i> All Contacts,
          {% endif %}
          {% for contact in entry.contact.all %}
            {% if entry.contact.all|length == 1 %}
              <a href="{{ contact.get_absolute_url }}" class="entry-link">{{ contact.name }}</a>
            {% elif not forloop.last %}
              <a href="{{ contact.get_absolute_url }}" class="entry-link">{{ contact.name }}</a>,
            {% else %}
              <a href="{{ contact.get_absolute_url }}" class="entry-link">{{ contact.name }}</a>
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{ entry.body|safe }}
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
{% endblock %}
