{%  extends 'base.html' %}
{% load humanize %}

{% block title %}Journal Entry List{% endblock %}

{% block head %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% for entry in entries %}
      <div class="row">
        <div class="col-lg-12 mt-1">
          <a href="{% if released %}{% url 'journal:released_entry_detail' contact.pk entry.pk %}{% else %}{{ entry.get_absolute_url }}{% endif %}">
            <h4 class="entry-link">{{ entry.title }}</h4>
          </a>
          {% if entry.released %}
            <p>
              <b>Created: </b>
              {{ entry.created }}
            </p>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mw-100">
          {% if entry.public %}
            <i class="fas fa-users small yellow"></i> All Contacts
          {% endif %}
          {% if entry.is_scheduled %}
            <i class="far fa-calendar-check"></i> Scheduled: {{ entry.scheduled_time|naturalday }}
          {% endif %}
          <p>{{ entry.body|safe|truncatewords:75 }}</p>
        </div>
      </div>
    <hr/>
  {% empty %}
    {% if not released %}
      <h2>There are no entries yet. <a href="{% url 'journal:entry_create' %}" class="btn btn-theme btn-lg btn-block"><i class="fas fa-plus"></i> Add an entry here!</a></h2>
    {% endif %}
  {% endfor %}
  {% include 'journal/pagination.html' %}


{% endblock %}
