{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ view.action|default:'Add' }} Entry{% endblock %}

{% block content %}
  {% with action=view.action|default:'Add' %}
    <h1>{{ action }} Entry</h1>
    <div>
      <form method="post" action="">
        {% csrf_token %}

        {{ form.title|as_crispy_field }}
        {% if contacts %}
          {{ form.public|as_crispy_field }}
        {% endif %}
        {{ form.body|as_crispy_field }}
        {% if contacts %}
          {{ form.contact|as_crispy_field }}

          <table style="display: none">
            {{ view.formset.empty_form }}
          </table>

          <table>
            {{ view.formset }}
          </table>
        {% endif %}
        <button type="submit" class="btn btn-theme">Save</button>
      </form>
    </div>
  {% endwith %}
{% endblock %}


{% block extra_js %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
  <script src="https://cdn.tiny.cloud/1/1tfb3g0qaiap1ehx0nfximy04m02qfebkdzf8pvd6ant5bhg/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script type="text/javascript" src="{% static 'js/tinymceinit.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/entry_form.js' %}"></script>
{% endblock %}
