{% extends 'account/email/base_message.html' %}

{% block tagline %}
Final reminder before release!
{% endblock %}

{% block header %}
Better checkin so your Entries don't get release, this is the FINAL REMINDER.
{% endblock %}

{% block content %}
  {{ user.username }},<br/>
  Your Entries will be released tomorrow.  If you don't want them to be released you better check-in again.  Please checkin again <a href="{% url 'users:anon_checkin' user.username user.checkin_link %}">here</a> or by copy and pasting the link below:<br>
  {% url 'users:anon_checkin' user.username user.checkin_link %}
{% endblock %}
