{% extends 'account/email/base_message.html' %}

{% block tagline %}
  Thank you for subscribing!
{% endblock %}

{% block header %}
  Thanks for subscribing!
{% endblock %}

{% block content %}
  {{ user }},<br>
  Your subscription is a success! Your entries now will be released if you don't check in within {{ user.days_to_release_setting }} days.<br>
  You can also schedule for an entry to be released.  If you have any questions please feel free to reach out to us at help@timecapsulejournal.com.
{% endblock %}
