{% load static i18n %}
<div class="mb-1">
    <nav class="navbar navbar-expand-md navbar-custom">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars" style="color:#61ca61; font-size:28px;"></i>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-hourglass-half"></i> Time Capsule Journal</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% url 'journal:entry_list' as active_url %}
                <li class="nav-item">
                    <a class="nav-link{% if request.path == active_url %} active{% endif %}" href="{% url 'journal:entry_list' %}">My Entries</a>
                </li>
              {% url 'journal:contact_list' as active_url %}
                <li class="nav-item">
                    <a class="nav-link{% if request.path == active_url %} active{% endif %}" href="{% url 'journal:contact_list' %}">My Contacts</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="{% url 'users:checkin' %}" class="nav-link"><i class="fas fa-calendar-check"></i> Check-in</a>
              </li>
              {% url 'journal:entry_create' as journal_url %}
              {% url 'journal:contact_create' as contact_url %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle{% if request.path == journal_url or request.path == contact_url%} active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-plus"></i>Add
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'journal:entry_create' %}">
                  <i class="fas fa-plus"></i>Add Entry
                </a>
                <a class="dropdown-item" href="{% url 'journal:contact_create' %}">
                  <i class="fas fa-plus"></i>Add Contact
                </a>
              </div>
              </li>
            {% url 'users:detail' request.user.username as active_url %}
              <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link{% if request.path == active_url %} active{% endif %}" href="{% url 'users:detail' request.user.username %}">My Profile</a>
              </li>
            {% url 'account_logout' as active_url %}
              <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link{% if request.path == active_url %} active{% endif %}" href="{% url 'account_logout' %}">Sign Out</a>
              </li>
            </ul>
        </div>
    </nav>
</div>
