{% extends 'base.html' %}
{% load static %}

{% block title %}Subscriptions{% endblock %}

{% block content %}
  <div class="container mt-5">
    {% if subscription.status == "active" %}
      <h5>{{ product.name }}</h5>
      <p>Subscription ends: {{ subscription_end|date:"SHORT_DATE_FORMAT" }}</p>
    {% else %}
      <button type="submit" class="btn btn-large btn-block btn-theme" id="submitBtn">Subscribe</button>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static "js/stripe.js" %}"></script>
{% endblock %}
