{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:settings' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-theme">Update</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/days_to_release_settings.css' %}" rel="stylesheet">
{% endblock %}
