{% extends "base.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container">

  <div class="row mt-2">
    <div class="col-sm-12">
      {% if not object.entries_released %}
        <h2 class="mt-2">
          <b>Check-in due by:</b> {{ object.checkin_deadline|date }}
          <a class="btn btn-theme" href="{% url "users:checkin" user.username %}" role="button"><i class="fas fa-calendar-check"></i> Check-in</a></h2>
        <hr/>
      {% else %}
        <a class="btn btn-lg btn-danger btn-block my-4" href="{% url "users:retract" request.user.username %}" role="button">Your entries have been released.  Click here to retract</a>
      {% endif %}
      <h2>
        <u>My Profile</u><a class="btn btn-theme ml-2" href="{% url 'users:update' %}" role="button"><i class="far fa-edit"></i> Edit</a>
      </h2>
      <p><b>Username:</b> {{ object.username }}<br/>
        <b>Email:</b> {{ object.email }}
      {% if object.name %}
        <br/>
        <b>Name:</b> {{ object.name }}<br/>
      {% endif %}
        <a href="{% url "account_change_password" %}" class="btn btn-theme"><i class="fas fa-key"></i> Reset Password</a>
      </p>
      <hr/>
    </div>
  </div>

<!-- Action buttons -->
<div class="row mt-3">

  <div class="col-sm-12">
    <h2>
      <u>Settings</u><a class="btn btn-theme ml-2" href="{% url 'users:settings' request.user.username %}" role="button"><i class="far fa-edit"></i> Edit</a>
    </h2>
    <p><b>Days to wait without check-in until posts are released: </b> {{ object.days_to_release_setting}} days</p>

  </div>

</div>
<!-- End Action buttons -->


</div>
{% endblock content %}

