{% extends "base.html" %}
{% load static humanize %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container">
  <!-- Profile -->
  <div class="row mt-2">
    <div class="col-sm-12">
      {% if not object.entries_released %}
        <h5 class="mt-2">
          <a class="entry-link" href="{% url "users:checkin" %}" role="button">
            <b>Check-in due by:</b> {{ object.checkin_deadline|naturaltime }}
          </a></h5>
        <hr/>
      {% else %}
        <a class="btn btn-lg btn-danger btn-block my-4" href="{% url "users:retract" %}" role="button">Your entries have been released.  Click here to retract</a>
      {% endif %}
      <h4>
        <a class="entry-link" href="{% url 'users:update' %}" role="button"><u>My Profile</u></a>
      </h4>
      <p><b>Username:</b> {{ object.username }}<br/>
        <b>Email:</b> {{ object.email }}<br/>
      {% if object.name %}
        <br/>
        <b>Name:</b> {{ object.name }}<br/>
      {% endif %}
        <a href="{% url "account_change_password" %}" class="entry-link"><b><u>Change Password</u></b></a>
      </p>
      <hr/>
    </div>
  </div>
  <!-- END Profile -->
  <!-- Settings -->
  <div class="row">
    <div class="col-sm-12">
      <h4>
        <a class="entry-link" href="{% url 'users:settings' %}">
          <u>Settings</u>
        </a>
      </h4>



      <p><b>Days to wait without check-in until posts are released: </b> {{ object.days_to_release_setting}} days</p>
      <hr/>
    </div>
  </div>
  <!-- End Settings -->
  <!-- Subscription -->
  <div class="row">
    <div class="col-sm-12">
      <h4>
        <a href="{% url 'subscription:home' %}">
          <u>Subscription</u>
        </a>
      </h4>
      <p>
        <b>Subscription Type:</b>{% if user.subscription.get.status == "active" %} {{ user.subscription.get.get_status_display }}{% else %} Free{% endif %}<br/>
        <b>Subscription Expiration:</b>{% if user.subscription.get.status == "active" %} {{ user.subscription.get.subscription_end|naturaltime }}{% else %} Never{% endif %}
      </p>
    </div>
  </div>
  <!-- END Subscription -->
</div>
{% endblock content %}

